.footer-v3.sticky-footer#footer-v3
    .lineaUPV-pie
    .copyright
        .container  
            .row
                .col-md-1
                    img(src='/images/aenor-emas.gif', width='57', height='48', alt='Aenor-Emas')
                .col-md-6
                    p.texto-pie
                        !='Universitat Polit&egrave;cnica de Val&egrave;ncia :: Centro de Formación Permanente <br>Cursos, Másteres, Jornadas y Congresos<br>'
                        a.footer3= 'Política de cookies'
                        span(style='color:#ebebeb;')= 'server:webcfp'
                .col-md-5
                    ul.social-icons.float-right
                        li
                            a.rounded-x.social_facebook(href='https://www.facebook.com/UPVCFP', target='_blank', data-original-title='Facebook')
                        li
                            a.rounded-x.social_twitter(href='https://twitter.com/UPV_CFP', target='_blank', data-original-title='Twitter')
                        li
                            a.rounded-x.social_googleplus(href='https://plus.google.com/+cfpupv/posts', target='_blank', data-original-title='Google Plus')
                        li
                            a.rounded-x.social_youtube(href='https://www.youtube.com/user/upvcfp', target='_blank', data-original-title='Youtube')
                        li
                            a.rounded-x.social_wordpress(href='http://cfp.blogs.upv.es', target='_blank', data-original-title='Wordpress')