head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title= title
    meta(name='keywords', content='master, masters, master valencia, masters valencia, master upv, masters upv, master Alcoy, masters Alcoy, master gandia, masters gandia,  formacion continua,  master univesidad, master a distancia, formacion a distancia')
    meta(name='description', content='T&iacute;tulos Propios, Masters, M&aacute;steres, Especialista Profesional, Especialista Universitario. Bienvenido a la p&aacute;gina web del Centro de Formaci&oacute;n Permanente de la Universitat Polit&egrave;cnica de Val&egrave;ncia. Desde esta p&aacute;gina podr&aacute; encontrar toda la informaci&oacute;n relativa a la Formaci&oacute;n Continua: Master Universitario, Especialista Universitario, Cursos Cortos y Cursos para Empresas.')
    meta(http-equiv='X-UA-Compatible', content='IE=edge;IE=10;IE=9')
    meta(name='google-site-verification', content='sh8M5E1sINecDdYwB1fsm76rz8kKNaTUjl1fiHVkjMc')
    meta(name='robots', content='noindex,nofollow')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='google-site-verification', content='Ll7xAj5-gUT7EeM07R7m2_SzEFSVeCWE7LLGs2wRYfw')
    
    
    link(rel='stylesheet', type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin')
    link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    // CSS Header and Footer
    link(rel='stylesheet', href='/stylesheets/footers/footer-v3-CFP.css')
    link(rel='stylesheet', href='/stylesheets/pages/page_misc_sticky_footer-web.css')
    link(rel='stylesheet', href='/stylesheets/headers/header-CFP.css')
    link(rel='stylesheet', href='/stylesheets/headers/header-default-web.css')
      
    // CSS Implementing Plugins
    link(rel='stylesheet', href='/stylesheets/plugins/animate.css')
    link(rel='stylesheet', href='/stylesheets/plugins/line-icons/line-icons.css')
    link(rel='stylesheet', href='/stylesheets/plugins/line-icons-pro/styles.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    
    // CSS Theme
    link(rel='stylesheet', href='/stylesheets/theme-colors/red.css', id='style_color')
    
    // CSS Page Style
    link(rel='stylesheet', href='/stylesheets/pages/page_index.css')
    link(rel='stylesheet', href='/stylesheets/pages/page_masters.css')
    
    link(rel='icon' href='/images/favicon.ico')
    link(rel='Bookmark' href='/images/favicon.ico')
    link(rel='SHORTCUT ICON' href='/images/favicon.ico')
    link(rel='alternate' type='application/atom+xml' title='Cursos del Centro de Formaci&oacute;n Permanente de la Universitat Polit&egrave;cnica de Val&egrave;ncia', href='http://www.cfp.upv.es/formacion-permanente/atom/rss/cursos.xml')