doctype html
html(lang='en')
  include includes/head.pug
    
  body.header-fixed
    include includes/header.pug
    block content
    
    include includes/footer.pug
    
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/jquery-migrate.min.js')
    script(src='/javascripts/bootstrap.min.js')