extends layout

block content
    .job-img.job-img-tp.margin-bottom-30
    .container
        .headline-center.margin-bottom-60
            h1 Elige la UPV <br> <em class="g-color-default">M&aacute;steres y otros T&iacute;tulos Propios 2018 - 2019 </em>
            p La Universitat Polit&egrave;cnica de Val&egrave;ncia dispone de <strong>m&aacute;s de 150 titulaciones</strong> propias de diferente duraci&oacute;n, impartidas en modalidad <strong>presencial, online y semipresencial</strong>.
            h2
    .container.margin-bottom-30
        .tab-v1
            ul.nav.nav-tabs
                li.active
                    a(href='#0', data-toggle='tab') Todas las &aacute;reas
                li
                    a(href='#1', data-toggle='tab') Arquitectura e ingeniería civil
                li
                    a(href='#2', data-toggle='tab') Artes y Humanidades
                li
                    a(href='#3', data-toggle='tab') Ciencias
                li
                    a(href='#4', data-toggle='tab') Ciencias sociales y jurídicas
                li
                    a(href='#5', data-toggle='tab') Ciencia y tecnología de la salud
                li
                    a(href='#6', data-toggle='tab') Gestión
                li
                    a(href='#7', data-toggle='tab') Ingeniería agroalimentaria y forestal
                li
                    a(href='#8', data-toggle='tab') Ingeniería industrial y aeronáutica
                li
                    a(href='#9', data-toggle='tab') TIC
            .tab-content.titulospropios
                #0.tab-pane.fade.in.active
                    .container
                        .row
                            .col-md-4
                                .titulo-area(title='Área temática') Arquitectura e ingeniería civil
                                h3 
                                    a.titulospropios(href='', title='', target='_blank') Máster en gestión eficiente del agua urbana
                                    ul.list-unstyled.list-inline
                                        li.color-grey.titulopropios_grey
                                            i.fa.fa-laptop.fa-lg
                                            | Online
                                ul.menutp
                                    li
                                        a.titulospropios(href='', title='', target='_blank') E. U. en epanet
                                        ul.list-unstyled.list-inline
                                            li.color-grey.titulopropios_grey
                                                i.fa.fa-laptop.fa-lg
                                                Online
                                    li
                                        a.titulospropios(href='', title='', target='_blank') E. U. en transitorios hidráulicos con allievi
                                        ul.list-unstyled.list-inline
                                            li.color-grey.titulopropios_grey
                                                i.fa.fa-laptop.fa-lg
                                                Online
                                    li
                                        a.titulospropios(href='', title='', target='_blank') D. E. en análisis y diseño de redes de agua
                                        ul.list-unstyled.list-inline
                                            li.color-grey.titulopropios_grey
                                                i.fa.fa-laptop.fa-lg
                                                Online
                                    li
                                        a.titulospropios(href='', title='', target='_blank') E. U. en redes de saneamiento con swmm
                                        ul.list-unstyled.list-inline
                                            li.color-grey.titulopropios_grey
                                                i.fa.fa-laptop.fa-lg
                                                Online
                                .margin-bottom-20
                                h3    
                                    ul.menutp
                                        li
                                            a.titulospropios(href='', title='', target='_blank') Máster en sistemas de información geográfica aplicados a la ordenación del territorio, el urbanismo y el paisaje
                                            ul.list-unstyled.list-inline
                                                li.color-grey.titulopropios_grey
                                                    i.fa.fa-laptop.fa-lg
                                                    Online
                                        li
                                            a.titulospropios(href='', title='', target='_blank') D. E. en sistemas de información geográfica aplicados a la ordenación del territorio, el urbanismo y el paisaje
                                            ul.list-unstyled.list-inline
                                                li.color-grey.titulopropios_grey
                                                    i.fa.fa-laptop.fa-lg
                                                    Online
                                        li
                                            a.titulospropios(href='', title='', target='_blank') E. U. en análisis urbano y territorial a través de sistemas de información geográfica
                                            ul.list-unstyled.list-inline
                                                li.color-grey.titulopropios_grey
                                                    i.fa.fa-laptop.fa-lg
                                                    Online
                                        li
                                            a.titulospropios(href='', title='', target='_blank') E. U. en gestión de datos para la administración de territorios y ciudades a través de sistemas de información geográfica
                                            ul.list-unstyled.list-inline
                                                li.color-grey.titulopropios_grey
                                                    i.fa.fa-laptop.fa-lg
                                                    Online
                                    .margin-bottom-20
                                h3
                                    ul.menutp
                                        li
                                            a.titulospropios(href='', title='', target='_blank') Máster en rehabilitación de estructuras en edificación
                                        li
                                            a.titulospropios(href='', title='', target='_blank') D. E. en rehabilitación de estructuras en edificación 
                                        li
                                            a.titulospropios(href='', title='', target='_blank') E. U. en rehabilitación de estructuras de hormigón armado en edificación
                                        li
                                            a.titulospropios(href='', title='', target='_blank') E. U. en rehabilitación de estructuras tradicionales en edificación
                                    .margin-bottom-20
                                h3
                                    ul.menutp
                                        li
                                            a.titulospropios(href='', title='', target='_blank') Máster en bim - gestión de información de la construcción
                                        li
                                            a.titulospropios(href='', title='', target='_blank') D. E. en bim
                                    .margin-bottom-20
                                h3
                                    ul.menutp
                                        li
                                            a.titulospropios(href='', title='', target='_blank') Máster en rehabilitación de edificios y regeneración urbana (<span class='matriculable'>Matriculable</span>)
                                        li
                                            a.titulospropios(href='', title='', target='_blank') D. E. en rehabilitación de edificios (<span class='matriculable'>Matriculable</span>)
                                        li
                                            a.titulospropios(href='', title='', target='_blank') E. U. en rehabilitación energética en edificación (<span class='matriculable'>Matriculable</span>)
                                        li
                                            a.titulospropios(href='', title='', target='_blank') D. E. en regeneración urbana (<span class='matriculable'>Matriculable</span>)
                                        li
                                            a.titulospropios(href='', title='', target='_blank') E. U. en gestión  y diseño de la regeneración urbana (<span class='matriculable'>Matriculable</span>)
                                    .margin-bottom-20
                                h3
                                    ul.menutp
                                        li
                                            a.titulospropios(href='', title='', target='_blank') Máster en construcción de modelos virtuales paramétricos de edificios
                                    .margin-bottom-20
                                h3
                                    ul.menutp
                                        li
                                            a.titulospropios(href='', title='', target='_blank') D. E. en gestión urbanística y territorial
                                    .margin-bottom-20
                                h3
                                    ul.menutp
                                        li
                                            a.titulospropios(href='', title='', target='_blank') Máster en gestión portuaria y transporte intermodal
                                        li
                                            a.titulospropios(href='', title='', target='_blank') D. E. en transporte intermodal
                                        li
                                            a.titulospropios(href='', title='', target='_blank') D. E. en transporte marítimo
                                        li
                                            a.titulospropios(href='', title='', target='_blank') D. E. en transporte terrestre
                                        li
                                            a.titulospropios(href='', title='', target='_blank') D. E. en gestión de puertos
                                    .margin-bottom-20
                                h3
                                    ul.menutp
                                        li
                                            a.titulospropios(href='', title='', target='_blank') Máster en geoinformation management for cultural tourism 
                                    .margin-bottom-20